.dataPanel {
  position: absolute;
  top: 10vh;
  left: 3vw;
}

.orderTitle {
  margin-bottom: 3vh;
  color: #e29465;
}


.orderTitleLabel {
  font-size: 2vw;
  color: black;
}

.orderUserLabel {
  font-size: 1vw;
  color: #737373;
}

.orderUser {
  background: #87C78A;
  border: 0;
  border-radius: 5vw;
  font-size: 1vw;
  color: #314732;
  //width: 5vw;
  height: 2.5vh;
  text-align: right;
  padding-left: 2vw;
  padding-right: 1vw;
  margin-top: 1vh;
}

.userIcon {
  position: absolute;
  font-size: 1.5vw;
  color: #314732;
  left: 0.5vw;
}

.orderInfoLabel {
  background: #D9D9D9;
  border: 0;
  border-radius: 1vh;
  color: black;
  font-size: 1vw;
  padding: 0.3vh 1vh;
}


.orderInfoData {
  font-size: 1.5vw;
  margin-bottom: 1vh;
}

.orderDishesTitle {
  font-size: 1.5vw;
  margin: 3vh 0;
}

.dishLabel {
  fond-style: normal;
  color: #737373;
}
