.dataPanel {
  position: absolute;
  top: 11vh;
  left: 3vw;
  width: 70vw;
  height: 90vh;
  overflow: scroll;
  scroll-behavior: smooth;
}


.column {
  float: left;
}

.left{
  width: 10%;
}

.right {
  width: 25%;
}

.middle {
  width: 65%;
}
